// pricing
.pricing-block{
  width:100%;
  background:#6696E2;
  height:700px;
}
.pricing-top{
  height:50px;
}
.pricing-block h2{
  font-size:36px;
  color:white;
  text-align:center;
}
.pricing-line{
  width:200px;
  height:2px;
  background:#41D395;
  margin:auto;
  margin-top:20px;
}

.pricing-line-p-top{
  margin-top:20px;
}
.pricing-block-tabs{
  display:flex;
  justify-content: center;
  align-items: center;
}

.pricing-block-tabs-content{
  width:20%;
  margin:0 40px;
}
.pricing-block-price{
  background:#333333;
  margin-top:60px;
}
p.basic{
  font-size:20px;
  padding-top:20px;
  margin-bottom:-10px;
}
p.price{
  font-size:94px;
}
p.price span{
  font-size:34px;
}
p.free{
  font-size:14px;
  color:grey;
  margin-top:10px;
  padding-bottom:20px;
}

.pricing-ul{
  width:100%;
  background:white;
}
.pricing-ul ul{
  list-style-type:none;
  text-align: center;
}
.pricing-ul ul li{
  padding:8px 0;
  color:#86878B;
  font-size:14px;
}
