.social-block{
  width:100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin:20px 0;
}
.social-text p{
  color:#e27866;
}
.social-icons ul li{
  display: inline;
  width: 16.22px;
  height: 30px;
  padding: 0 60px;
}
